/* feuille de style pour le site

*/
body {
  background: #2C2C2C;
	font-family: "Comfortaa", sans-serif;
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	line-height: 1.6;
}

body a {
	text-decoration: none;
	color: grey;
}

header {
  display: block;
  color: white;
  padding-right:10px;
}

header h1 {
  text-align: center;
}

header fieldset, header fieldset legend {
  border: none;}

header nav {
  display: block;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

html {
  font-size:100%; // normally 16px
}



#menuprincipal ul {
	list-style-type: none; 
	list-style-image: none;
  }
#menuprincipal li {
	display: inline; 
}

#menuprincipal ul li a {
	text-decoration:none;  
	margin: 4px;
	padding: 5px 20px 5px 20px; color: white;
}

#legendemenuprincipal  {
  float:left;
}

legend {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    text-shadow: #fff 1px 1px 1px;
  }

#fieldsetcontent, #fieldsetcontent fieldset, #fieldsetcontent legend, .post, .entry fieldset,  .entry legend  {
  border: none;
}

#content > aside {
  float: right;
}

#fieldsetsidebar, #fieldsetsidebar legend {
  border: none;
}


footer {
  margin-top: 10%;
  display: border;
  vertical-align: bottom;
  box-sizing: border-box;
	color:white;
	text-decoration:none;
}

footer a {
	color: white;
	text-decoration:none;
}

.logo {
	max-width: 10%;
	max-height: auto;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
}
.divTableRow {
	display: table-row;
	width: 25%;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
